# Ignore project file from IDE
.idea

# Ignore Macbook files
.DS_Store

# Ignore all pycache files
**/__pycache__/

# Ignore downloaded model files but keep directory structure
models/*
!models/.gitkeep
