# Ignore project file from IDE
.idea

# Ignore Macbook files
.DS_Store

# Ignore all pycache files
**/__pycache__/

# Ignore model directory
models/

# Temporary ignore sample data labels
data/labels/

# Ignore log file
logs/ 